/package-lock.json
/styles.css
/node_modules
/.idea/Sugi payment request.iml
/.idea/markdown-navigator/profiles_settings.xml
/.idea/markdown-navigator.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/watcherTasks.xml
/.idea/workspace.xml
